<!DOCTYPE html>
<html>
<head>
  <title>Codesnipper</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <nav>
    <p>
      <h2>View Our Full Library of Snippets:</h2>
    </p>
    <%#@categories.each do |category| %>
    <%#link_to category.name, category_path(category) %>
    <%#end %>
  </nav>



<%= yield %>

</body>
</html>
