<h2>3 Question Personality test</h2>

<form method="post" action="/results">

  <ol>
    <li><h3>1. You work best</h3></li>

      <input type="radio" id="with_deadlines" name="question_1"><label for="with_deadlines">With deadlines</label>
      <input type="radio" id="without_deadlines" name="question_1"><label for="without_deadlines">Without deadlines</label>

    <li>2. You consider yourself more:</li>

      <input type="radio" id="rational" name="question_2"><label for="rational">Rational</label>
      <input type="radio" id="compassionate" name="question_2"><label for="compassionate">Compassionate</label>

    <li>3. You are more interested in:</li>

      <input type="radio" id="ideas" name="question_3"><label for="ideas">Ideas</label>
      <input type="radio" id="facts" name="question_3"><label for="facts">Facts</label>
  </ol>

  <button type=""> What is my personality?</button>

</form>
