<h2>Convert your temperature</h2>

<form method="post" action="/results">
  <label for="input">Temperature in Celcius</label>
  <input id="input" type="text" value=" <%= @old_temperature%> " placeholder="temperature" name="old_temperature" style="width: 100px, height: 20px">

  <button type="submit" value="convert">Convert</button>
</form>
