
table {
  margin: 1em;
  border-radius: 15px;
  width: 350px;
  border: 2px solid black;
  border-spacing: 0px;
}

table td {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border: 1px;
}

.blaq {
  background-color: #000;
  height: 5px;
}


tr :last-child {
  text-align: center;
}

td {
  border-top: 1px solid black;
}
