<h1>Greet Me!</h1>

  <form action="" method="post">
    <label for="full_name">What's your full name?</label>
    <input type="text" id="full_name" name="full_name">
    <input type="submit" value="Greet me!">
  </form>
