.row {
  border-radius: 5px;
}

.box {
  100px;
}

.container {
  color: blue;
}

.blue {
  color: blue;
}
.orange {
  color: orange;
}

.yellow {
  color: yellow;
}

.green {
  color: green;
}

body {
  color: red;
}
