<!DOCTYPE html>
<html>
<head>
  <title>Team Randomizer</title>
  <meta charset="utf-8">

  <link href='../styles/style.css' rel="stylesheet"  type="text/css">
  <link href='../styles/normalize.css' rel="stylesheet"  type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400' rel='stylesheet' type='text/css'>

  <body>

  <%= yield %>

  </body>


</html>
