<h2>Team Randomizer</h2>
<h3>Easily assign a group of students into teams</h3>

<form method="post" action="/randomizer">
  <div>
  <label for="student_names">Tell me all the names of your student body.</label>
    <textarea name="student_names" id="student_names" placeholder="Separate names by commas"></textarea>
  </div>
  <div>
  <label for="group_number" name="group_number" id="group_number">How many groups do you want?</label>
    <input type="number" name="group_number" id="group_number">
  </div>
  <div>
  <input type="submit" value="Generate Groups"></input>
  </div>
</form>

<%= @result %>
